# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# CheckOv pre-commit external modules path
**/.external_modules/*

# Local Lambda function package directories
**/builds/*
