# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# This is a module, not a stand-alone deployment
.terraform.lock.hcl

# CheckOv pre-commit external modules path
**/.external_modules/*

# Local Lambda function package directories
**/builds/*
